/* 가상 요소 To. 웹왔니 */

#message {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.message-list {
  background: white;
  padding: 20px;
  border-radius: 20px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}

.pseudo-icon::before {
  content: " ❤️ ";
}

.pseudo-icon::after {
  content: " ❤️ ";
}
